<!DOCTYPE html>
<html lang="it">
	<head>
		<title>Segnapunti</title>
		<meta charset="UTF-8">
		<meta name="description" content="Segnapunti personalizzabile utilizzabile per tutti i giochi">
		<meta name="author" content="Daniele Morotti">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="manifest" href="manifest.json">
		<link rel="icon" href="img/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<meta name="apple-mobile-web-app-title" content="Segnapunti">
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" sizes="192x192" href="img/quadAppunti192.png">
		<link rel="mask-icon" href="img/maskable_icon.png" color="#baa28a">
		<meta name="theme-color" content="#E8EBF6">
		<!-- Splash screen for ios products -->
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-ipad-pro-12-9.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-ipad-pro-l-12-9.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-ipad-pro-11.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-ipad-pro-l-11.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-ipad-mini.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-ipad-mini-l.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-ipad-air.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-ipad-air-l.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-ipad.png" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-ipad-l.png" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-iph-12-pro-max.png" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-iph-12-pro.png" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-iph-12-mini.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-iph-11-pro-max.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-iph-11.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-iph-8-plus.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
		<link rel="apple-touch-startup-image" href="img/splashscreens/apple-splash-iph-7.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
		
		<!-- Cdn and stylesheet-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shepherd.js@8.3.1/dist/css/shepherd.css">
		<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<noscript>Attivare JS per poter utilizzare l'app</noscript>
		<div class="container-fluid" id="app">
			<!-- Homepage -->
			<div class="container" id="homepage">
				<h1 id="homeTitle">Segna<wbr>punti</h1>
				<div class="container flexHomeMenu">
					<button class="btn btn-info flexHomeItem" @click="showInputs()">Inizia partita</button>
					<button class="btn btn-info flexHomeItem" data-toggle="modal" data-target="#loadGameModal">Carica partita</button>
					<button class="btn btn-info flexHomeItem" @click="activateTutorial()">Tutorial</button>
				</div>
			</div>
			<!-- Title editor -->
			<center>
				<div class="container" id="contHeader">
					<h1 id="gameTitle" v-bind:style="{color: col}">Titolo</h1>&nbsp;
					<i id="iconEdit" class="fas fa-edit"  @click="toggleEditor('#txtArea1','#gameTitle','#iconEdit','#editor')"></i>
					<div class="container" id="editor">
						<textarea id="txtArea1" name="ta1" rows="1" cols="15" maxlength="15" v-bind:style="{color: col}"></textarea><br>
						<label for="i-color">Scegli il colore:</label>
						<input v-model="col" type="color">
						<button id="editTitleBtn" class="btn btn-outline-dark" @click="doEdit('#txtArea1','#gameTitle','#iconEdit','#editor')">Modifica <i class="fas fa-check"></i></button>
					</div>
				</div>
			</center>
			<!-- Input menu -->
			<div class="container" id="insMenu">
				<form @submit.prevent="startIns()">
					<label for="partNum">Inserisci il numero di partecipanti:</label>
					<input id="partNum" class="inputNumber" v-model.number="partNum" type="number" min="2" required><br>
					<span>Vince chi ha il punteggio:</span><br>
					<input type="radio" v-model="winnerOption" id="greaterPoints" name="pointsOption" value="greaterPoints">
					<label for="greaterPoints">maggiore </label><br>
					<input type="radio" v-model="winnerOption" id="smallerPoints" name="pointsOption" value="smallerPoints">
					<label for="smallerPoints">minore</label><br>
					<button class="btn btn-outline-dark" type="submit" >AVANTI</button>
					<button class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#loadModal">CARICA GIOCATORI</button>
				</form>
			</div>
			<div class="container" id="insertPart">
				<label for="name">Nome partecipante&nbsp;<span>{{currPartInd+1}}</span></label><br>
				<input type="text" id="name" name="name" value="" style="width:7.5em"><br><br>
				<label for="color">Scegli il tuo colore</label><br>
				<input type="color" id="color" name="color"><br><br>
				<button class="btn btn-outline-dark" type="button" id="backInsBtn" @click="backInsertPlayer()" style="display:none"> &lt;</button>
				<button class="btn btn-outline-dark" type="button" id="readyBtn" @click="savePart()">AVANTI</button>
				<a href="#" class="btn btn-outline-dark" id="savePartBtn" @click.prevent="savePlayers()" style="display:none" tabindex="0" data-toggle="popover" data-placement="auto" 
					data-title="Salvataggio giocatori" data-html="true" data-content="" data-trigger="focus">SALVA GIOCATORI</a>
			</div>
			<!-- Table for partecipants -->
			<div class="table-responsive" id="partTable">
				<form @submit.prevent="addPoints()">
					<table class="table">
						<tr>
							<th>Nome</th>
							<th>Punteggio</th>
							<th class="pad-bottom-1">Aggiungi punti&nbsp;&nbsp;<button class="submitInvBtn" type="submit"><i style="font-size:1.6rem;color:rgb(7, 28, 221)" class="far fa-plus-square"></i></button></th>
						</tr>
						<tr v-for="(el, i) in partList" :key="i">
							<td><span class="nameSpan" :style="{color: el.color}">{{ el.name }}</span></td>
							<td><span class="namePoints">{{el.points}}</span>&nbsp;&nbsp;&nbsp;<i class="fas fa-history popLog" tabindex="0" data-toggle="popover" data-placement="auto" data-title="Storico" :data-content="el.pLog.join(' ')" data-trigger="focus"></i></td>
							<td><input type="text" value="" class="pointsToAdd" pattern="-?[0-9]+" oninvalid="this.setCustomValidity('Puoi inserire solo numeri e il segno - per sottrarre.')" @input="checkPointsInput"></td>
						</tr>
					</table>
				</form>
			</div>
			<center>
				<button class="btn btn-outline-dark" id="refreshBtn" @click="refresh()">HOMEPAGE <i class="fas fa-home"></i></button>
				<button class="btn btn-outline-dark" id="saveGameBtn" @click="saveGame()">SALVA <i class="fas fa-file-download"></i></button>
			</center>
			<footer class="infoFooter">
				by Daniele Morotti, Version 3.5.1
			</footer>
			<!-- Popover for installation on ios -->
			<center>
				<a id="iosDown" href="#" tabindex="0" style="position:fixed;right:0;left:0" data-toggle="popover" data-placement="top" data-html="true"
					data-content="Se vuoi installa l'app cliccando <img src='img/ios_share.png' /> e in seguito &quot;Aggiungi alla schermata home <i class='far fa-plus-square fa-lg'></i> &quot;" data-trigger="focus"></a> 
			</center>
			<!-- Modal for loading pre-saved players -->
            <div class="modal fade" id="loadModal" aria-hidden="true" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Carica i giocatori</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container" v-if="Object.keys(savedGroup).length != 0">
								<div class="btn-group chooseSavedBtn" v-for="(names,group) in savedGroup" v-bind:key="group">
									<button class="btn btn-primary chooseGroupBtn" @click="loadPlayers(group)">
										<span v-for="pl in names">{{pl.name}}&nbsp;&nbsp;</span>
									</button>
									<button class="btn btn-primary"><i class="fas fa-trash-alt" @click="deleteSavedGroup(group)"></i></button>
								</div>
							</div>
							<p v-else>Nessun gruppo salvato</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
                        </div>
                    </div>
                </div>
            </div>
			<!-- Modal to choose a file to resume an old game -->
			<div class="modal fade" id="loadGameModal" aria-hidden="true" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Carica una vecchia partita</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Scegli il file di una vecchia partita salvata:
								<br><br><input id="loadGameBtn" type="file" accept=".json" @change="loadGame()">
							</p>
							<p id="loadFileError" style="display:none">Errore durante la lettura del file, riprova.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
                        </div>
                    </div>
                </div>
            </div>
			<!-- Modal to restore the previous game -->
			<div class="modal fade" id="resumeGameModal" aria-hidden="true" role="dialog" tabindex="-1">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title">Partita precedente trovata</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-body">
						<p>È stata trovata una partita precedente. Vuoi riprendere da dove eri rimasto?</p>
						<div v-if="savedGameState" class="saved-game-info">
							<p><strong>Giocatori:</strong></p>
							<div class="player-list-container">
							<ul class="list-group player-list">
								<li class="list-group-item" v-for="player in savedGameState.partecipants" :key="player.name">
								<span class="player-name">{{ player.name }}</span>:
								<span class="player-points">{{ player.points }} punti</span>
								</li>
							</ul>
							</div>
						</div>
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-secondary" @click="clearSavedGameState">No, inizia una nuova partita</button>
						<button type="button" class="btn btn-primary" @click="loadSavedGameState">Sì, riprendi la partita</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script src="libraries/jquery-3.5.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>	
		<script src="https://cdn.jsdelivr.net/npm/shepherd.js@8.3.1/dist/js/shepherd.min.js"></script>
		<script src="main.js"></script>
	</body>
</html>