.popover{
    background-color: rgb(245, 231, 215);
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}
body,html{
    overflow-x:hidden;
    height:100%;
}
body{
    background-size: cover;
    background-image: url('img/quad-appunti.png');
    background-position: center;
    width:100%;
}
#app{
    height: 100%;
    width:100%;
    overflow: hidden;
    touch-action: manipulation;
}
.chooseSavedBtn{
    margin-bottom:0.5rem;
    width:100%;
}
.chooseGroupBtn{
    background-color: lightskyblue;
    color:black;
    width:90%;
    overflow-x: scroll;
}
.chooseGroupBtn::-webkit-scrollbar {
    display: none;
  }
.btn-outline-dark{
    background-color: #EFEFEF;
    padding: .25rem .5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.3rem;
}
.btn-outline-dark:hover,.btn-outline-dark:focus,.btn-outline-dark:active, 
.btn-outline-dark:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    background-color: #EFEFEF !important;
    color: black !important;
    outline: none;
    box-shadow: none;
}
.modal-body > .container{
    overflow-y: scroll;
    max-height:12rem;
}
.far:hover, .fas:hover{
    cursor:pointer;
}
.far:active{
    background-color: ivory;
    color: cornflowerblue !important;
}
input[type='file'] {
    color: transparent;
}
#contHeader{
    display:none;
}
#refreshBtn{
    display: none;
}
.infoFooter{
    position:absolute;
    bottom:0;
    margin-bottom:0.7rem;
}
/* Homepage */
#homeTitle{
    text-align:center;
    font-size:3.5rem;
    border:1px solid black;
    box-shadow: 5px 7px cadetblue;
    padding:1rem;
    width: 60%;
    margin: auto;
    margin-top: 3rem;
	overflow-wrap: break-word;
    color: rgba(29, 29, 195, 0.912);
    background-color: whitesmoke;
}
.flexHomeMenu{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 12rem;
    gap: 0.8rem;
}
.flexHomeItem{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 35%;
    font-size: 1.8rem;
    background-color: rgba(70, 69, 234, 0.9);
}

/*Header part*/
#gameTitle{
    display: inline-block;
    text-align:center;
    font-size:3.5rem;
    border:1px solid black;
    box-shadow: 5px 7px cadetblue;
    padding:1rem;
    margin: 1.5rem 0.5rem 0.5rem 1rem;
	overflow-wrap: break-word;
}

#editor {
    display: none;
    border:1px solid black;
    padding:1rem;
    margin:1.5rem 1rem 1rem;
    width:17%;
}
#txtArea1{
    resize: none;
    width:70%;
    margin-bottom: 0.75rem;
}
#editTitleBtn{
    display: block;
    margin-top:1rem;
}

/*menu and table*/
#insMenu{
    margin-top:5rem;
    margin-left:25%;
    border-style: groove;
    border-width: 6px;
    border-color:rgb(241, 209, 197);
    width:30%;
    padding:1rem;
    display: none;
}
.inputNumber{
    width:30%;
    margin-bottom: 1rem;
}
#insertPart{
    display:none;
    margin-top:5rem;
    margin-left:25%;
    border-style: groove;
    border-width: 6px;
    border-color:rgb(241, 209, 197);
    width:30%;
    padding:1rem;
}
#partTable{
    display: none;
    margin-top:4rem;
    margin-left:auto;
    margin-right: auto;
    width:60%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    max-height: 58%;
}
tr,td,th{
    border:2px solid black;
    text-align: center;
}
.submitInvBtn{
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top:0.1rem;
}
.submitInvBtn:focus{
    outline:none;
}
.submitInvBtn:hover{
    cursor: pointer;
}
.pad-bottom-1{
    padding-top: 0.4rem !important;
}
.nameSpan{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    border-radius:15px;
    padding:0.3rem;
}
.pointsToAdd{
    width:35%;
}
#refreshBtn{
    margin-top:3rem;
    border-radius: 20px;
    padding:.5rem;
}
#saveGameBtn{
    margin-top:3rem;
    border-radius: 20px;
    padding:.5rem;
    display: none;
}

/* Tutorial section */
div.shepherd-has-title.shepherd-element.shepherd-enabled{
    margin-top: 0.7rem !important;
}
.shepherd-element.shepherd-has-title[data-popper-placement^=bottom]>.shepherd-arrow:before {
    background-color: rgb(143, 219, 244);
    border: 1px solid black;
}
header.shepherd-header{
    background-color: rgb(179, 212, 240) !important;
}
.shepherd-button{
    color: white;
}
.shepherd-cancel-icon{
    background-color: azure;
    border-radius: 10px;
    width: 8%;
    color:black !important;
}
.shepherd-cancel-icon:hover{
    background-color: rgb(95, 159, 244);
    color:azure !important;
}

/* MEDIA QUERIES */

/* Most common smartphones */
@media only screen and (max-width:767px){
    #contHeader{
        margin-top: 1.5rem;
    }
    #gameTitle{
        font-size: 2.5rem;
        max-width: 80%;
        margin-left: 2rem;
        overflow-wrap: break-word;
    }
    #iconEdit{
        margin-right: 0rem;
    }
    #editor {
        display: none;
        border:1px solid black;
        padding-right:1rem;
        margin:0.5rem 2.5rem 1rem 1rem;
        width:70%;
    }
    #homeTitle{
        width: 100%;
    }
    .flexHomeItem{
        width: 80%;
    }
    #insMenu{
        margin-top:2.6rem;
        margin-left:2rem;
        width:85%;
    }
    #insertPart{
        margin-top:2.6rem;
        margin-left:2rem;
        width:80%;
    }
    #partTable{
        width:96%;
        margin-left:auto;
        margin-right: auto;
        margin-top:3.5rem;
        font-size: 1rem;
        max-height: 50%;
    }
    .inputNumber{
        width:35%;
    }
    .pointsToAdd{
        width:75%;
    }
    #savePartBtn{
        display: block;
        max-width: 10rem;
    }
    #refreshBtn, #saveGameBtn{
        margin-top:2.6rem;
    }
    .infoFooter{
        margin-bottom: 1rem;
    }
}

/* Small smartphones */
@media only screen and (max-height:700px){
    .flexHomeMenu{
        margin-top: 6rem;
    }
    #homeTitle{
        font-size: 3.1rem;
    }
    #partTable{
        margin-top: 1.7rem;
    }
    .infoFooter{
        margin-bottom: 1rem;
    }
}

/* Tablets used in portrait mode*/
@media (orientation:portrait) and (min-width:768px) and (max-width: 1050px){

    body{
        background-position: right;
        background-size: cover;
    }
    #contHeader{
        margin-top: 2.5rem;
    }
    #gameTitle{
        font-size: 3.5rem;
        max-width: 85%;
        margin-left: 2rem;
        overflow-wrap: break-word;
    }
    #iconEdit{
        font-size: 1.5rem;
        margin-right:1rem;
    }
    #editor {
        display: none;
        border:1px solid black;
        margin:1.5rem 2.5rem 1rem 1rem;
        width:55%;
        font-size: 1.3rem;
    }
    #homeTitle{
        width: 70%;
    }
    .flexHomeMenu{
        gap:1.5rem;
    }
    .flexHomeItem{
        width: 50%;
    }
    #insMenu{
        position:relative;
        left:20%;
        margin-top:5rem;
        margin-left:0rem;
        width:55%;
        font-size: 1.5rem;
    }
    #insertPart{
        margin-top:5rem;
        margin-left:0rem;
        position:relative;
        left:20%;
        width:55%;
        font-size: 1.3rem;
    }
    #partTable{
        width:85%;
        margin-left:auto;
        margin-right: auto;
        margin-top:5rem;
        font-size: 1.5rem;
        max-height: 58%;
    }
    .inputNumber{
        width:20%;
    }
    .popover{
        font-size: 1.2rem;
    }
    .pointsToAdd{
        width:40%;
    }
    .btn-outline-dark{
        font-size: 1.4rem;
    }
    .infoFooter{
        font-size: 1.3rem;
    }
}

/* Tablets in landscape mode*/
@media (orientation:landscape) and (min-width:768px) and (max-width: 1050px){
    body{
        background-size: auto;
    }
    #gameTitle{
        font-size: 3.5rem;
        max-width: 80%;
        margin-left: 2rem;
        overflow-wrap: break-word;
    }
    #iconEdit{
        font-size: 1.7rem;
        margin-right:1.3rem;
    }
    #editor {
        display: none;
        border:1px solid black;
        margin:1.5rem 2.5rem 1rem 1rem;
        width:42%;
        font-size: 1.3rem;
    }
    #insMenu{
        position:relative;
        left:22%;
        margin-top:3rem;
        margin-left:0rem;
        font-size:1.3rem;
        width:48%;
    }
    #insertPart{
        margin-top:3rem;
        margin-left:0rem;
        position:relative;
        left:22%;
        width:45%;
        font-size:1.3rem;
    }
    #partTable{
        margin-left:auto;
        margin-right: auto;
        width:70%;
        margin-top:5rem;
        font-size: 1.5rem;
        max-height: 50%;
    }
    .inputNumber{
        width:20%;
    }
    .popover{
        font-size: 1.2rem;
    }
    .pointsToAdd{
        width:30%;
    }
    .btn-outline-dark{
        font-size: 1.1rem;
    }
    .infoFooter{
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
}