.popover{
    background-color: rgb(245, 231, 215);
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}
body,html{
    overflow-x:hidden;
    height:100%;
}
#app{
    background-size: cover;
    background-image: url('img/quad-appunti.png');
    background-position: center;
    height: 100%;
    width:100%;
}
/*Header part*/

#titolo{
    display: inline-block;
    text-align:center;
    font-size:3.5rem;
    border:1px solid black;
    box-shadow: 5px 7px cadetblue;
    padding:1rem;
    margin: 1.5rem 0.5rem 0.5rem 1rem;
	 overflow-wrap: break-word;
}

#editor {
    display: none;
    border:1px solid black;
    padding:1rem;
    margin:1.5rem 1rem 1rem;
    width:17%;
}
#t-area1{
    resize: none;
    width:70%;
    margin-bottom: 0.75rem;
}
#editTitleBtn{
    display: block;
    margin-top:1rem;
}

/*menu and table*/
#menu{
    margin-top:5rem;
    margin-left:25%;
    border-style: groove;
    border-width: 6px;
    border-color:rgb(241, 209, 197);
    width:30%;
    padding:1rem;
}
.inputNumber{
    width:30%;
    margin-bottom: 1rem;
}
#insertPart{
    display:none;
    margin-top:5rem;
    margin-left:25%;
    border-style: groove;
    border-width: 6px;
    border-color:rgb(241, 209, 197);
    width:30%;
    padding:1rem;
}
#partTable{
    display: none;
    margin-top:4rem;
    margin-left:auto;
    margin-right: auto;
    width:60%;
    text-align: center;
    max-height: 58%;
}

tr,td,th{
    border:2px solid black;
    text-align: center;
}

.nameSpan{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    border-radius:25px;
    padding:0.3rem;
}
.pointsToAdd{
    width:35%;
}
#refreshBtn{
    margin-top:3rem;
    border-radius: 20px;
    padding:.3rem;
}
#saveGameBtn{
    margin-top:3rem;
    border-radius: 20px;
    padding:.3rem;
    display: none;
}

/* MEDIA QUERIES */

/* Most common smartphones */
@media only screen and (max-width:767px){
    
    #app{
        overflow:hidden;
    }
    #cont-header{
        margin-top: 1.5rem;
    }
    #titolo{
        font-size: 2.5rem;
        max-width: 80%;
        margin-left: 2rem;
        overflow-wrap: break-word;
    }
    #icon-edit{
        margin-right: 0rem;
    }
    #editor {
        display: none;
        border:1px solid black;
        padding-right:1rem;
        margin:0.5rem 2.5rem 1rem 1rem;
        width:70%;
    }
    #menu{
        margin-top:3rem;
        margin-left:2rem;
        width:85%;
    }
    #insertPart{
        margin-top:3rem;
        margin-left:2rem;
        width:80%;
    }
    #partTable{
        width:96%;
        margin-left:auto;
        margin-right: auto;
        margin-top:3.5rem;
        font-size: 1rem;
        font-weight: 600;
        max-height: 50%;
    }
    .inputNumber{
        width:35%;
    }
    .pointsToAdd{
        width:75%;
    }
    #refreshBtn, #saveGameBtn{
        margin-top:3rem;
    }
}


/* Tablets used in portrait mode*/
@media (orientation:portrait) and (min-width:768px) and (max-width: 1050px){

    #app{
        overflow:hidden;
        background-position: right;
        background-size: auto;
    }
    #cont-header{
        margin-top: 2.5rem;
    }
    #titolo{
        font-size: 3.5rem;
        max-width: 85%;
        margin-left: 2rem;
        overflow-wrap: break-word;
    }
    #icon-edit{
        font-size: 1.5rem;
        margin-right:1rem;
    }
    #editor {
        display: none;
        border:1px solid black;
        margin:1.5rem 2.5rem 1rem 1rem;
        width:55%;
        font-size: 1.3rem;
    }
    #menu{
        position:relative;
        left:20%;
        margin-top:5rem;
        margin-left:0rem;
        width:55%;
        font-size: 1.3rem;
    }
    #insertPart{
        margin-top:5rem;
        margin-left:0rem;
        position:relative;
        left:20%;
        width:55%;
        font-size: 1.3rem;
    }
    #partTable{
        width:85%;
        margin-left:auto;
        margin-right: auto;
        margin-top:5rem;
        font-size: 1.5rem;
        font-weight: 600;
        max-height: 58%;
    }
    .inputNumber{
        width:20%;
    }
    .popover{
        font-size: 1.2rem;
    }
    .pointsToAdd{
        width:40%;
    }
    #refreshBtn, #saveGameBtn{
        font-size: 1.3rem;
    }
    
}

/* Tablets in landscape mode*/
@media (orientation:landscape) and (min-width:768px) and (max-width: 1050px){
    #app{
        background-size: auto;
    }
    #titolo{
        font-size: 3.5rem;
        max-width: 80%;
        margin-left: 2rem;
        overflow-wrap: break-word;
    }
    #icon-edit{
        font-size: 1.7rem;
        margin-right:1.3rem;
    }
    #editor {
        display: none;
        border:1px solid black;
        margin:1.5rem 2.5rem 1rem 1rem;
        width:42%;
        font-size: 1.3rem;
    }
    #menu{
        position:relative;
        left:22%;
        margin-top:3rem;
        margin-left:0rem;
        font-size:1.3rem;
        width:48%;
    }
    #insertPart{
        margin-top:3rem;
        margin-left:0rem;
        position:relative;
        left:22%;
        width:45%;
        font-size:1.3rem;
    }
    #partTable{
        margin-left:auto;
        margin-right: auto;
        width:70%;
        margin-top:5rem;
        font-size: 1.5rem;
        font-weight: 600;
        max-height: 50%;
    }
    .inputNumber{
        width:20%;
    }
    .popover{
        font-size: 1.2rem;
    }
    .pointsToAdd{
        width:30%;
    }    
    
}