.popover{
    background-color: rgb(245, 231, 215);
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}
body,html{
    overflow-x:hidden;
    height:100%;
}
#app{
    background-size: cover;
    background-image: url('img/quad-appunti.png');
    background-position: center;
    height: 100%;
    width:100%;
}
/*Header part*/

#titolo{
    display: inline-block;
    text-align:center;
    font-size:3.5rem;
    border:1px solid black;
    box-shadow: 5px 7px cadetblue;
    padding:1rem;
    margin: 1.5rem 0.5rem 0.5rem 1rem;
	 overflow-wrap: break-word;
}
#cont-header{
    position: relative;
    left:26%;
}
#editor {
    display: none;
    border:1px solid black;
    padding:1rem;
    margin:1.5rem 1rem 1rem;
    width:17%;
}
#t-area1{
    resize: none;
    width:70%;
    margin-bottom: 0.75rem;
}
#editTitleBtn{
    display: block;
    margin-top:1rem;
}

/*menu and table*/
#menu{
    margin-top:5rem;
    margin-left:25%;
    border-style: groove;
    border-width: 6px;
    border-color:rgb(241, 209, 197);
    width:30%;
    padding:1rem;
}
.inputNumber{
    width:30%;
    margin-bottom: 1rem;
}
#insertPart{
    display:none;
    margin-top:5rem;
    margin-left:25%;
    border-style: groove;
    border-width: 6px;
    border-color:rgb(241, 209, 197);
    width:30%;
    padding:1rem;
}
#partTable{
    display: none;
    margin-top:4rem;
    margin-left:15rem;
    width:60%;
    text-align: center;
    max-height: 58%;
}

tr,td,th{
    border:2px solid black;
    text-align: center;
}

.nameSpan{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    border-radius:25px;
    padding:0.3rem;
}
.pointsToAdd{
    width:60%;
}
#refreshBtn{
    position: relative;
    left:48%;
    margin-top:4rem;
}
/*iphone 6,7,8,samsung s6*/
@media only screen and (min-device-width: 360px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 1){
    
    #app{
        overflow:hidden;
    }
    #cont-header{
        position: static;
        margin-left: 2rem;
        margin-top: 1.5rem;
    }
    #titolo{
        font-size: 250%;
        max-width: 80%;
        margin-left: 2rem;
        overflow-wrap: break-word;
    }
    #icon-edit{
        margin-right: 0rem;
    }
    #editor {
        display: none;
        border:1px solid black;
        padding-right:1rem;
        margin:0.5rem 2.5rem 1rem 1rem;
        width:70%;
    }
    #menu{
        margin-top:3rem;
        margin-left:2rem;
        width:85%;
    }
    #insertPart{
        margin-top:3rem;
        margin-left:2rem;
        width:80%;
    }
    #partTable{
        width:96%;
        margin-left: 1rem;
        margin-top:1.5rem;
        font-size: 1rem;
        font-weight: 600;
        max-height: 50%;
    }
    .inputNumber{
        width:50%;
    }
    #refreshBtn{
        position: relative;
        left:42%;
        margin-top:2rem;
    }
}

/*iphone X,samsung8,9*/
@media only screen and (min-device-width: 360px)and (max-device-width: 812px)and (-webkit-min-device-pixel-ratio: 3) {  
     #app{
        overflow:hidden;
    }
    #cont-header{
        position: static;
        margin-left: 2rem;
        margin-top: 1.5rem;
    }
    #titolo{
        font-size: 250%;
        max-width: 80%;
        margin-left: 2rem;
        overflow-wrap: break-word;
    }
    #editor {
        display: none;
        border:1px solid black;
        padding-right:1rem;
        margin:0.5rem 2.5rem 1rem 1rem;
        width:70%;
    }
    #menu{
        margin-top:3rem;
        margin-left:2rem;
        width:85%;
    }
    #insertPart{
        margin-top:3rem;
        margin-left:2rem;
        width:80%;
    }
    #partTable{
        width:96%;
        margin-left: 1rem;
        margin-top:2.5rem;
        font-size: 1rem;
        font-weight: 600;
        max-height: 50%;
    }
    .inputNumber{
        width:50%;
    }
    #refreshBtn{
        position: relative;
        left:42%;
        margin-top:3rem;
    }
}

/*ipad 1,2,air,samsung tablet*/
@media only screen and (min-device-width: 768px)and (max-device-width: 1280px) and (orientation:portrait){

    #app{
        overflow:hidden;
    }
    #cont-header{
        position: relative;
        left:25%;
        margin-top: 2.5rem;
    }
    #titolo{
        font-size: 300%;
        max-width: 85%;
        margin-left: 2rem;
        overflow-wrap: break-word;
    }
    #icon-edit{
        font-size: 1.5rem;
        margin-right:1rem;
    }
    #editor {
        display: none;
        border:1px solid black;
        margin:1.5rem 2.5rem 1rem 1rem;
        width:55%;
    }
    #menu{
        position:relative;
        left:20%;
        margin-top:5rem;
        margin-left:0rem;
        width:55%;
    }
    #insertPart{
        margin-top:5rem;
        margin-left:0rem;
        position:relative;
        left:20%;
        width:55%;
    }
    #partTable{
        width:85%;
        margin-left: 5rem;
        margin-top:7rem;
        font-size: 1.5rem;
        font-weight: 600;
        max-height: 65%;
    }
    .inputNumber{
        width:20%;
    }
    .popover{
        font-size: 1.2rem;
    }
    .pointsToAdd{
        width:30%;
    }
    
}

/*ipad 1,2,air,samsung tablet*/
@media only screen and (min-device-width: 768px)and (max-device-width: 1280px) and (orientation:landscape){
    #cont-header{
        position: relative;
        left:28%;
        margin-top: 2.5rem;
    }
    #titolo{
        font-size: 350%;
        max-width: 80%;
        margin-left: 2rem;
        overflow-wrap: break-word;
    }
    #icon-edit{
        font-size: 1.7rem;
        margin-right:1.3rem;
    }
    #editor {
        display: none;
        border:1px solid black;
        margin:1.5rem 2.5rem 1rem 1rem;
        width:42%;
    }
    #menu{
        position:relative;
        left:22%;
        margin-top:3rem;
        margin-left:0rem;
        font-size:1.3rem;
        width:48%;
    }
    #insertPart{
        margin-top:3rem;
        margin-left:0rem;
        position:relative;
        left:22%;
        width:45%;
        font-size:1.3rem;
    }
    #partTable{
        position: relative;
        left:20%;
        width:70%;
        margin-left: 0rem;
        margin-top:7rem;
        font-size: 1.5rem;
        font-weight: 600;
        max-height: 50%;
    }
    .inputNumber{
        width:20%;
    }
    .popover{
        font-size: 1.2rem;
    }
    .pointsToAdd{
        width:20%;
    }    
    
}